
{% extends "blog/base.html" %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}
			<h2>You Have Been Logged Out!</h2>
	<!-- <div class="content-section"> -->
		<!-- <form method="post">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-botton mb-4">
					Join Today
					{{ form|crispy }}
				</legend>
				
			</fieldset>
			<div class="form-group">
				<button class="btn-outline-info" type="submit">Sign Up</button>
			</div>
		</form> -->
			<div class="border-up pt3">
				<small class="text-muted">
					<a class="ml-2" href="{% url 'login' %}">LogIn Again</a>
				</small>
		<!-- </div> -->
		
	</div>
{% endblock content %}